form {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 30px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.form-group {
  width: 85%;
  margin: 0 auto;
}

.date {
  width: 55%;
}
